body {
  background-color: #ffffff;
  background-image: url(background.png);
  font-family: Georgia;
  font-size: 100%;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
}

/* ==== TYPOGRAPHY ==== */

h3 { font-size: 1.375rem; }

h6 {
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.8;
}

/* ==== CONTENT ==== */

.headline a {
  color: black;
  font-style: italic;
  text-decoration: none;
}

.headline a:hover {
  text-decoration: underline;
}

.last_published { color: #595959; }

.featured_stories {
  float: left
}

.side_stories {
  float: right
}

article {
  clear: both;
  display: table;
}

article img {
  display: inline;
  float: left;
  max-height: 130px;
}

nav { z-index: 1; }

nav a {
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  float: right;
  letter-spacing: 1px;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* ==== GRID SYSTEM ==== */

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm { width: 4.33%; }
.col-2-sm { width: 12.66%; }
.col-3-sm { width: 21%; }
.col-4-sm { width: 29.33%; }
.col-5-sm { width: 37.66%; }
.col-6-sm { width: 46%; }
.col-7-sm { width: 54.33%; }
.col-8-sm { width: 62.66%; }
.col-9-sm { width: 71%; }
.col-10-sm { width: 79.33%; }
.col-11-sm { width: 87.66%; }
.col-12-sm { width: 96%; }

[class*="col-"] {
  float: left;
  padding: 15px;
}

.container {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.row {
  position: relative;
  width: 100%;
}

.row::after {
  clear: both;
  content: "";
  display: table;
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    max-width: 60rem;
    width: 75%;
  }
}

* { box-sizing: border-box; }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] { width: 100%; }
}

@media only screen and (min-width: 1150px) {
  .col-1 { width: 8.33%; }
  .col-2 { width: 16.66%; }
  .col-3 { width: 25%; }
  .col-4 { width: 33.33%; }
  .col-5 { width: 41.66%; }
  .col-6 { width: 50%; }
  .col-7 { width: 58.33%; }
  .col-8 { width: 66.66%; }
  .col-9 { width: 75%; }
  .col-10 { width: 83.33%; }
  .col-11 { width: 91.66%; }
  .col-12 { width: 100%; }
}
